.heading{
    text-align: center;
    color: brown; font-size: xx-large;
    font-style: italic;
    justify-content: center;
}
.subheading{
    text-align: center;
    color: tomato; font-size: x-large;
    font-style: italic;}
.buttons{
    border: 10px 0 salmon;
    padding: 20px 0;
}

.items1 p{
    justify-content: center;
    text-align: center; 
    font-size: medium;
    font-style: italic; 
}

.items2 p{ justify-content: flex-start;
    text-align: center;
    font-size: medium;
    font-style: italic;
}
.items3 p{
    justify-content: right;
    text-align: center;
    font-size: medium;
    font-style: italic;
}
