.nav-bg{
    background-color: #7952b3;
}
.nav-item{
    padding: 8px;
}
.nav-item a{
    color: #fff;
    text-decoration: none;
}
.nav-icons{
    padding: 8px;
    color: #fff;
}
.btn-bd-download{
    color: #ffe484;
    border-color: #ffe484;
    font-weight: 600;
}
.bd-navbar{
    padding: 0.75rem 0px;
}
.bd-subnavbar{
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 8px 0px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
    z-index: 1000;
}
.btn-bd-light{
    color: #6c757d;
    border-color: #dee2e6;
}
.bd-links .btn {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0,0,0,0.65);
    background-color: transparent;
    border: 0;
}
.bd-links .btn::before {
    width: 1.25em;
    line-height: 0;
    transition: transform 0.35s ease;
    transform-origin: .5em 50%;
}
.bd-intro{
    padding-left: 10px;
}