.navbar{
    margin:  0 99.6px;
    padding: 12px;
}
.nav-bg{
    background-color: #7952B3;
    margin: 0px;
}
.nav-link-active{
    color: white;
    margin: 5px;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
}

.mains{margin:  0 99.6px;
    padding:48px ;
}
.col-lg-6{
    padding: 15px;
}
.masterhead{
    margin: 0px 99.6px;
    padding: 16px;
}
.install,.icon,.theme,.jsdelivr{
    padding: 12px;
    display: flex;
    padding: 24px;
    margin: 0px 12px 48px;
}
.heading{
    font-size: xx-large;
    font-style: italic;
    margin:0 0  8px;
    text-align: left;
}
.subheading{
    margin:0 0 16px;
    font-style: italic;
    font-size: medium;
    text-align: left;
}
.content{
    margin:0 0 16px;
    font-style: italic;
    text-align: left;
}
.box{
    margin: 0 0 16px;
    padding: 16px 24px;
    display: flex;
    background-color: #f9f8fA;
}
